body {
    font-family: Arial, sans-serif;
    margin: 200px;
    padding: 100px;
    background-color: #b379bd;
}

.container {
    width: 60%;
    height: 580px;
    margin: auto;
    background-color: #dec8e2;
    border: 5px solid white;
    border-radius: 10px;
    overflow: hidden;
}

img {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding-left: 120px;
    border-radius: 10px;
    width: 40%;
    height: auto;
    padding-top: 20px;
    padding-bottom: 30px;
}

.add-to-cart {
    background: #701f70;
    color: #fff;
    border: 2px solid white;
    margin-left: 120px;
    padding: 10px;
    padding-left: 50px;
    padding-right: 50px;
    border-radius: 5px;
    cursor: pointer;
}

.add-to-cart:hover {
    background: #218838;
}

.products {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    justify-content: space-around;
}

.product {
    background-color:#c376d1;
    border-radius: 5px;
    margin: 20px;
    margin-left: 120px;
    padding-left: 40px;
    width: calc(40% - 30px);
    height: 40px;
    text-align: center;
    display: grid;
    grid-template-columns:repeat(3, 1fr);
    box-sizing: border-box;
    cursor: pointer;
}

.product:hover {
    background: #218838;
}

.product h2 {
    font-size: 1.2em;
}

